@model MVC.Samples.Web.Areas.Guru.Models.GuruModel
@{
    ViewBag.Title = "Index";
}

<h2>Welcome Boys!</h2>


@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
<table>
        <tr>
            <td>@Html.LabelFor(exp => exp.EmployeeCode)</td>
            <td>@Html.TextBoxFor(exp => exp.EmployeeCode)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(exp => exp.Name)</td>
            <td>@Html.TextBoxFor(exp => exp.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(exp => exp.Email)</td>
            <td>@Html.TextBoxFor(exp => exp.Email)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(exp => exp.Password)</td>
            <td>@Html.PasswordFor(exp => exp.Password)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(exp => exp.ConformPassword)</td>
            <td>@Html.PasswordFor(exp => exp.ConformPassword)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(exp => exp.Age)</td>
            <td>@Html.TextBoxFor(exp => exp.Age)</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="btn1" value="Register" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ValidationSummary()
            </td>
        </tr>
    </table>
    }
